name: Acquire Unity License

on:
  workflow_dispatch: {}

jobs:
  activate:
    name: Request Unity License File
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        with:
          unityVersion: 6000.0.28f1

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v6000.0.28f1.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
          retention-days: 1
